.photo-grid__item {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

@media screen and (max-width:631px) {
  .photo-grid__item {
    max-width: 320px;
    margin: 0 auto;
  }
}
